*{
  font-family: verdana;
  margin: 0;
}

body{
  background: #eee;
}

.wrapper{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background: #fff;
  flex-wrap: wrap;

  /* flex-wrap: wrap-reverse; */

  /* Default  */
  /* flex-wrap: nowrap; */
}

.box {
  height: 100px;

  /* flex growth is 1, shrink is 1 and the flex-basis is 0 */
  flex: 1;

  /* flex growth, flex shrink, flex basis */
  /* flex: 1 0 200px; */

  
  /* flex-basis: 200px; */

  /* The 3 boxes take equal length because the wrapper is 960px */
  width: 320px;

  /* Expand all boxes to the extreme */
  flex-grow: 1;
}

.one {
  background: red;
  /* flex-basis: 100px; */
}

.two {
  background: blue;
  /* flex-basis: 200px; */
}

.three {
  background: green;
  /* flex-basis: 300px; */
}